* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: OpenRegular;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: normal;
}

.banner {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(102, 102, 102);
  position: relative;
  box-sizing: border-box;
  padding: 30px 0px 135px 0px;
  z-index: 0;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.logo {
  float: none;
  line-height: 22px;
  z-index: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainimage {
  margin: 0;
}

.menu-list {
  list-style: none;
  font-family: OpenRegular;
  
}

.menu-item {
  display: inline-block;
  vertical-align: top;
}

.menu-item:nth-child(n + 2) {
  margin-left: 30px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration: underline;
}

.header-title {
  text-align: center;
  font-family: Open, sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-top: 110px;
  text-decoration: none;
  line-height: 1.5;
}

.content {
  margin-top: 60px;
}

.content-box {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.content-box1 {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.main-header{
  text-align: center;
  margin-bottom: 0px;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 60px;
}

.main-header::after{
  content:"";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 70px;
  height: 3px;
  background:#b59f5b;
}

.trends{
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.trend{
  width: 24.8%;
  display: flex;
 justify-content: center;
}
.trend:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 3px;
  }

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  background-color: #000000;
  opacity: 0.6;
  z-index:-1;
}

.trend{
  min-height: 315px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: white;
  position: relative;
  z-index:0;
  }

.trend-teg{
  list-style: none;
  padding:0;
  margin-bottom:15px;
  display:flex;
}

.trend-teg-item{
  margin-right:20px;
}

.trend-teg-link:hover {
  text-decoration: underline;
}

.trend-teg-link{
  text-decoration: none;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}

.trend-link:hover {
  color: #b59f5b;
}

.trend-link{
  text-decoration: none;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height:1.2;
  margin-bottom: 37px;
  
}

.trend-border{
  width: 80%;
  border: 3px solid #b59f5b;
  padding: 35px; 30px; 35px; 30px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  align-self: flex-end;
}

.news {
  max-width: 780px;
}

.news-header {
  padding: 0px;
  margin-left: 30px;
  font-size: 16px;
}

.tag {
  text-decoration: none;
  color: #b59f5b;
}

.news-content {
  display: flex;
}

.news-content:nth-last-child(n + 2) {
  margin-bottom: 60px;
}

.news-title {
  text-decoration: none;
  color: black;
}

.img {
  width: 380px;
  height: 290px;
  display: block;
  background-color: rgb(239, 246, 241);
}

.tag-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  text-decoration: none;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  margin-right: 20px;
}

.tag:nth-child(n + 2) {
  margin-left: 20px;
}

.tag:hover {
  text-decoration: underline;
}

.news-title {
  font-size: 20px;
  text-decoration: none;
  color: #0f0d0e;
  width: 368px;
  margin-bottom: 25px;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.news-title:hover {
  color: #b59f5b;
}

.time {
  display: flex;
  color: rgb(169,169,169);
  font-size: 12px;
  font-family: OpenRegular, sans-serif;
  margin-bottom: 45px;
}

.autor {
  display: inline-block;
  font-style: normal;
  color: #000000;
  font-size: 12px;
  font-family: Open, sans-serif;
  font-weight: 600;
  margin-left: 15px;
}

.news-text {
  font-family: OpenRegular, sans-serif;
  font-size: 15px;
  line-height: 22px;
  max-width: 370px;
}

.block {
  display: block;
}

.block > p{
  font-size: 15px;
  line-height:1.5;
  margin:0;
}

.block > p:first-child{
  margin-bottom:15px;
}

.aside{
  max-width: 270px;
  box-sizing: border-box;
}


.newnews:first-child{
  margin-top: 3px;
   
}

.newnews-header{
  text-align: center;
  margin-bottom: 0px;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.newnews-header::after{
  content:"";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background:#b59f5b;
  margin-bottom: 30px;
}

.postlist {
  display: flex;
   margin-bottom: 20px;
}


.postlist-image {
  background-color: rgb(244,247,246);
  width: 70px;
  display: block;
  height: 70px;
}

.postlist-date {
  color: rgb(169,169,169);
  font-size: 12px;
  font-family: Open, sans-serif;
  border-top: none;
}

.postlist-header {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin-top: 5px;
  line-height: 18px;
}

.block2 {
  margin-left: 15px;
  margin-top: -6px;
}

.postlist-header:hover {
  color: #b59f5b;
}

.form {
  display: flex;
}

.field {
  width:220px;
  height: 50px;
  background-color: rgb(244,247,246);
  Border: none;
  margin-top: 60px;
  box-sizing: border-box;
  padding-left: 17px;
  font-size: 13px;
  font-family: OpenRegular, sans-serif;
}

.seach {
  width: 50px;
  height: 50px;
  border: none;
  margin-top: 60px;
  background-color: rgb(181,159,91);
  background-image: url("../svg/search.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.seach:hover {
  background-color: #323232;
}

.field:focus {
  outline-color: rgb(181,159,91);
}

.aside-header{
  text-align: center;
  margin-bottom: 0px;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 60px;
}

.aside-header::after{
  content:"";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background:#b59f5b;
}

.field-mail {
  width:270px;
  height: 50px;
  background-color: rgb(244,247,246);
  Border: none;
  margin-top: 22px;
  box-sizing: border-box;
  padding-left: 17px;
  font-size: 13px;
  font-family: OpenRegular, sans-serif;
}

.field-mail:focus {
  outline-color: rgb(181,159,91);
}

.button-mail {
  width: 100%;
  height: 50px;
  border: none;
  margin-top: 22px;
  background-color: rgb(181,159,91);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  font-family: Open, sans-serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.button-mail:hover {
  background-color: #323232;
}

.tags-list{
  list-style:none;
  display:flex;
  flex-wrap:wrap;
}
.tags-link{
  height: 30px;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 11px;
}

.tags-name{
  margin-top: 25px;
  margin-left: 3px;
  margin-right: 3px;
}

.tags-link:hover {
  font-weight: 700;
  border: 3px solid rgb(181,159,91);
}

.theme-items{
  list-style:none;
}

.themes-links{
  font-family: Open, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  padding:0 5px 0 0;
}

.theme-items{
  margin-top: 14px;
  margin-left: 3px;
}

.theme-items::after{
  content:"";
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background: rgb(238,238,238);
}

.themes-numbers{
  color:#b59f5b;
  font-family: Open, sans-serif;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
}

.themes-links:hover {
  color:#b59f5b;
}

.footer{
  margin-top: 60px;
}

.footer-address{
  margin-bottom: 20px;
  background-color:#f4f7f6;
 
}

.footer-icons{
  list-style:none;
  display: flex;
  justify-content: center;  
}

.footer-field{
  max-width:1200px;
  margin: auto;
  padding: 0 15px;
}

.social-icon{
  display: block;
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  padding:30px 15px;
}

.social-icon_twitter{  
  background-image: url("../svg/004-twitter.svg");
}

.social-icon_pinterest{
  background-image: url("../svg/001-pinterest.svg");
}

.social-icon_tumblr{
  background-image: url("../svg/003-tumblr.svg");
}

.copyright{
  text-decoration: none;
  color:#999999;
  font-family: Open, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center
}

.empty{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.store {
  display: flex;
 flex-direction: column;
 padding-right: 30px;
 margin-top: 150px;
 margin-bottom: 250px;
 
}

.store-border {
  position: absolute;
  box-sizing: content-box;
  padding: 40px 40px 30px 20px;
  border: 3px solid #b59f5b;
  width: 275px;
  flex-grow: 1;
  height: 220px;
  
 
  
}

.store-picture {
  margin-left: 20px;
  margin-top: -180px;
}

.store-title {
  font-size: 20px;
  text-decoration: none;
  color: #0f0d0e;
  width: 370px;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.store-text {
  font-family: OpenRegular, sans-serif;
  font-size: 15px;
  line-height: 22px;
  max-width: 370px;
}

.store-price {
  font-size: 20px;
  text-decoration: none;
  color: #0f0d0e;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.old-price {
  font-size: 10px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-family: Open, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.sell {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.button-store {
  width: 50%;
  height: 50px;
  border: none;
  background-color: rgb(181,159,91);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  font-family: Open, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  
}

.button-store:hover {
  background-color: #323232;
}

.price {
  display: block;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}



.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.popup__container {
  width: 360px;
  background-color: #ffffff;
  position: relative;
  text-align: center;
}

.popup_area {
  background-color: #fff;
  color: #222;

}

.popup__header {
  background-color: #ffffff;
  color: #ffffff;
}

.popup__title {
    text-align: center;
    margin-bottom: 0px;
    font-family: Open, sans-serif;
  font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    color: #0f0d0e;
    padding-top: 30px;
  }
  
  .popup__title::after{
    content:"";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 20px;
    width: 66px;
    height: 3px;
    background:#b59f5b;
  }



  .popup__label {
    font-family: OpenRegular, sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 14px;
    text-align: start;
  }
  
  .popup__field {
    display: inline-block;
box-sizing: border-box;
width: 85%;
height: 38px;
border: none;



background-color: #f9f9f9;
padding-left: 10px;
font-size: 10px;
font-family: OpenRegular, sans-serif;
color: #333333;
-webkit-appearance: none;
-moz-appearance: none;
background-size: 10px;
background-image: url("../svg/form-arrows.svg");
background-repeat: no-repeat;
background-position: top 10px  right 10px;  
}
  
  
 
  .popup__button {
    width: 85%;
  height: 50px;
  border: none;
  margin-top: 22px;
  margin-bottom: 40px;
  background-color: rgb(181,159,91);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  font-family: Open, sans-serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;

  }
  
  .popup__button:hover, .popup__button:focus {
    background-color: #323232;
  }
  
  .popup__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -30px;
    right: 0;
    background-color:transparent;
    border: none;
     background-image: url("../svg/form-x.svg");
     background-repeat: no-repeat;
    
  }
  

  .popup__radio {
    display: none;
    
        }





  .radio__text::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px;
    
  }

  .radio__text {
    font-size: 14px;
    font-family: OpenRegular, sans-serif;
color: #333333;



  }

  .popup__radio:checked+.radio__text::before {
    background-image: url("../svg/form-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px;
   
  }

  .popup__textarea {
    display: inline-block;
box-sizing: border-box;
width: 85%;
min-height: 150px;
border: none;
padding: 15px 25px 25px 15px;


margin: 0;
background-color: #f9f9f9;

font-size: 10px;
font-family: OpenRegular, sans-serif;
color: #333333;
resize: none;

  }

  .hidden {
    display: none;
  }

  .store-link {
    color: rgb(181,159,91);
  }

  .nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
 }
 .nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
 }
 .nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
 }
 .nav-toggle span:before {
    top: -10px;
 }
 .nav-toggle span:after {
    bottom: -10px;
 }

  @media (max-width:1200px) and (min-width:641px) {
    .banner {
      background-image: url("../images/banner-bg-tablet.jpg");
  }
  .trend{
    width: 48.8%;
    margin-bottom: 2px;
    
  }


  .nav-toggle {
    display: block;
  }
  
  .menu-list {
    display: none;
  }

 .store {
  margin-bottom: 230px;
  width: 50%;
  flex-wrap: wrap;
  
  
}


.store-picture {
  margin-bottom: 100px;
margin-top: -190px;
}


.news-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
  }

.footer-field {
max-width: 1200px;
min-width: 641px;
margin-top: -100px;
}

.news-header {
  margin-left: 0px;
}

.aside {
  margin-left: 20px;
}
.content-box {
  display: flex;
flex-wrap: nowrap;
width: 100%;
justify-content: center;

}

.content-box1 {
  display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
}

.tag-list {
  margin-top: 20px;
}
  
}

@media (max-width:640px) {
.store {
  width: 100%;
  align-items: center;
  margin-top: 230px;
  
  
}
  
  .store-picture {
    margin-bottom: 50px;
  margin-top: -250px;
  }
    

.page {
  max-width: 640px;
}

.banner {
  background-image: url("../images/banner-mobile.jpg");
}

.nav-toggle {
  display: block;
}

.menu-list {
  display: none;
}

.trend{
  width: 100%;
  max-width: 640px;
  margin-bottom: 3px;
}
.news-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  margin-left: 10px;
 
  }


.content-box {
  display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;

}


.content-box1 {
  display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;

}

.news-header {
  margin-left: 0px;
}

.news {
  width: 100%;
}

.tag-list {
  margin-top: 10px;
}
.newnews-header {
  margin-top: 50px;
}

.tag-list {
  margin-top: 20px;
}
.footer-field {
  max-width: 640px;
  margin-top: -80px;
  }

}